/* * {
    margin: 0;
    padding: 0;
    font-size: 16px;
}*/
html,body,ul,li,ol,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,button,select {margin: 0;padding: 0;}
input,button,img {outline-style: none;border: none;}
ul,li,ol {list-style: none;}
a {text-decoration: none;color: #000;}
textarea {margin: 0;resize: none;}
table {border-collapse: collapse;}

.clearfix:after {content: "";display: block;height: 0;clear: both;overflow: hidden;visibility: hidden;font-size: 1px;}
.clearfix {zoom: 1;}